<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration> 
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="RedisConfig" type="CacheLayer.RedisConfig,CacheLayer"/>
  </configSections>
  <connectionStrings>
    <add name="RemoteSqlServer" connectionString="Data Source=.;Initial Catalog=HKCost;Integrated Security=False;User ID=sa;Password=123456;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--使用StackExchange连接redis配置[Lazy by Azure Redis Cache Team]AbortConnect="false" SSL="true"-->
  <RedisConfig ConnectionString="192.168.1.80:6379,abortConnect=false,allowAdmin=true" Url="192.168.1.80" Port="6379" />
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="privateKey" value="" />
    <add key="exponent" value="010001" />
    <add key="databaseType" value="mssql" />
    <add key="smsAccount" value="AC00336"  />
    <add key="smsPwd" value="AC0033655"  />
    <add key="SendEmail" value="mvcframe@126.com"  />
    <add key="SendPwd" value="ytj123456"  />
    <add key="SendSmtp" value="smtp.126.com"  />
    <!--数据库类型，目前支持 Oracle(oracle)，MSSQL(mssql)-->
    <add key="modulus" value="EA78733EE3C2BA9E15841D477550BD8734657FC4CECC1C009871F34B4E96E6659DBB987DCD4B696C1BD6FBE7C1AB6EAE6AAB31888A2825B7E2C4E642340D796E55F0CB2906606360258028FDFCA5CC65D5D8573078A09E3952DD6C8CE4289D82CE03A2A2829361DB67AB1B0BCB38B1C03C80571F2B4DF39360BAC7C223EFF9AF" />
    <!--##########################log4net配置#############################-->
    <add key="log4net.Config" value="log4net.config"/>
    <add key="log4net.Config.Watch" value="True"/>
    <!--设置错误是否记录到日志，value为"true"记录日志，跳转自定义错误页面。value为"false"记录日志，不跳转自定义错误页面。其他value不记录错误日志-->
    <add key="ExceptionRecord" value="true" />
  </appSettings>
  <system.web>    
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
<staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="font/truetype" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="font/opentype" />
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <remove fileExtension=".md" />
      <mimeMap fileExtension=".md" mimeType="text/x-markdown" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>

  <!--我们就可以在配置文件中直接配置log4net,注意名字的来源-->
  <log4net>

    <!--统一设置的日志器-->
    <!--<root>
      <level value="Error" />
      <appender-ref ref="LogFileAppender" />
    </root>-->

    <!-- Logger -->
    <logger name="ItemLogger">
      <level value="Error" />
      <appender-ref ref="RollingLogFileAppender" />
    </logger>

    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log/" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <!--输出的格式-->
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x]  - %m%n"/>
        <conversionPattern value="记录时间:%date 线程ID:[%thread]日志级别:%-5level出错类:%logger property:[%property{NDC}]-错误描述:%message%newline" />

      </layout>
    </appender>

    <!--使用的布局-->
    <!--
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n"/>
        <param name="Footer" value="[Footer]\r\n"/>
        -->
    <!--输出的格式-->
    <!--
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x]  - %m%n"/>
      </layout>
    </appender>-->

  </log4net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WebServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://dx.ipyy.net/WebService.asmx" binding="basicHttpBinding" bindingConfiguration="WebServiceSoap" contract="SmsService.WebServiceSoap" name="WebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>
