/*头部自能提示*/
.mtip > span {
    vertical-align: 3px;
    line-height: 1;
    display: inline-block;
    width: auto;
    font-size: 24px;
    font-family:"微软雅黑";
    font-weight:bold;
}
.mtip {
    border-radius: 0 0 4px 4px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
}

.mtip.error {
    background-color: #BF3358;
    background-image: -moz-linear-gradient(top,#e34447,#BF3358);
    background-image: -ms-linear-gradient(top,#e34447,#BF3358);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#e34447),to(#BF3358));
    background-image: -webkit-linear-gradient(top,#e34447,#BF3358);
    background-image: -o-linear-gradient(top,#e34447,#BF3358);
    background-image: linear-gradient(top,#e34447,#BF3358);
    border: 1px solid #ca3e3e;
}

.mtip.success {
    background-color: #43ab00;
    background-image: -moz-linear-gradient(top,#43ab00,#388e00);
    background-image: -ms-linear-gradient(top,#43ab00,#388e00);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#43ab00),to(#388e00));
    background-image: -webkit-linear-gradient(top,#43ab00,#388e00);
    background-image: -o-linear-gradient(top,#43ab00,#388e00);
    background-image: linear-gradient(top,#43ab00,#388e00);
    border: 1px solid #338100;
}

.mtip.warning {
    background-color: orange;
    background-image: -moz-linear-gradient(top,#dcb20b,#e6bb10);
    background-image: -ms-linear-gradient(top,#dcb20b,#e6bb10);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#dcb20b),to(#e6bb10));
    background-image: -webkit-linear-gradient(top,#dcb20b,#e6bb10);
    background-image: -o-linear-gradient(top,#dcb20b,#e6bb10);
    background-image: linear-gradient(top,#dcb20b,#e6bb10);
    border: 1px solid #e6bb10;
}

.tip_container {
    display: none;
    z-index: 9999;
    position: fixed;
    top: 0;
    text-align: left;
    width: auto;
    _width: auto;
}

/*Ext 自定义样式*/
.noIcon{display:none;}